{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

        <div class="col-12 mt-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Accueil</li>
                </ol>
            </nav>
        </div>

        {% for rubrique in rubriques %}
            <div class="col-12 col-sm-6 col-md-4 rubrique mt-3">
                <a href="/rubrique/{{ rubrique.id }}">
                        <div class="card" >
                            <img class="card-img-top img-fluid imgcard" src="{{ asset(rubrique.photo) }}" alt="{{ rubrique.nomRubrique}}" class="img-fluid produit-image">
                            <div class="card-body">
                                <h5 class="card-title">{{ rubrique.nomRubrique }}</h5>
                                <p class="card-text"></p>
                            </div>
                        </div>
                </a>
            </div>
            
        {% endfor %}

{% endblock %}
