{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<h1>{{sousRubrique.nomsousRubrique}}</h1>


<div class="container">
    <div class="row">
        {% for produit in sousRubrique.produits %}
            
                <div class="col-12 rubrique mt-3">
                    <a href="/produit/{{ produit.id }}">
                        <img src="{{produit.photo}}" alt="">
                        {{ produit.libelleCourt }}
                    </a>
                </div>
            
        {% endfor %}
    </div>
</div>
{% endblock %}
